body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2c3e50;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#counter {
  font-size: 50px;
  font-weight: bold;
  color: #333;

  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 8px;

  min-width: 80px;
  text-align: center;
}
#message {
  font-weight: bold;
  transition: 0.3s;
  color: #fff;
}
#counter.max {
  color: red;
}

#counter.min {
  color: blue;
}

#message.max {
  color: red;
}

#message.min {
  color: blue;
}

.button {
  width: 60px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  border-radius: 5px;

}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #ccc;
}

#increment {
  background-color: #4da6ff;
}

/* botão - (vermelho apagado) */
#decrement {
  background-color: #cc6666;
}